.root {
    height: 100%;
    width: 100%;
    background: linear-gradient(315deg,#8793fa,#87cefa);
    margin: auto;
    text-align: center;
    padding: 1rem;
}

h1.title {
    font-weight: 800;
    padding: 1rem;
    color: #fff;
    font-size: clamp(1.75rem,2.5vw,2rem);
}

.credit {
    font-weight: 300;
    color: #fff;
    font-size: clamp(1rem,2.5vw,1.2rem);
}

.mini_hiori {
    font-weight: 500;
    padding: 0.2em;
    color: #fff;
    font-size: clamp(2rem,2.5vw,2.5rem);
}

.link_icons {
    font-size: clamp(1.5rem,2.5vw,2rem);
    color: #fff;
    transition: .3s;
    &:hover {
        opacity: 0.8;
      }
    padding-bottom: 1rem;
}