.root {
    background: #fff;
    text-align: center;
    text-align: center;
    width: 100%;
    margin: auto;
}

.icon {
    font-size: clamp(1rem,2.5vw,2rem);
    color: #172c2c;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50%;
    // color: #fff;
    transition: .3s;
    &:hover {
        opacity: 0.6;
    }
}

.copyright {
    font-size: 0.8rem;
    color: #172c2c;
    padding: 1rem;
    font-weight: 500;
}

.share_button {
    padding-top: 1rem;
    // padding-bottom: 1rem;
}