.root {
    background-color: rgba(220,200,150,0.8);
    backdrop-filter: blur(5px);
    border-top: 2rem solid rgba(220,200,150,1);
    border-bottom: 2rem solid rgba(220,200,150,1);
}

div.iframe_wrapper {
    padding-top: 5%;
    position: relative;
    width: 100%;
}
div.iframe_wrapper::before {
    content:'';
    display: block;
    padding-top: 56.25%;
}
div.iframe_wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

ol.track_list {
    counter-reset: list;
    list-style-type: none;
    padding: 1.5em;
    width: 100%;
    font-size: clamp(0.8rem,2.5vw,1rem);

    li {
        position: relative;
        border-bottom: dashed 0.3rem #87cefa;
        text-align: -webkit-match-parent;
  
      &:before {
        counter-increment: list;
        content: counter(list);
        position: absolute;
        left: 0px;
        width: clamp(1.5rem,2.5vw,2rem);
        height: clamp(1.5rem,2.5vw,2rem);
        line-height: clamp(1.5rem,2.5vw,2rem);
        text-align: center;
        color: #fff;
        background: #87cefa;
        border-radius: 50%;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        }
    }
}

div.track_name {
    font-size: clamp(1.2rem,2.5vw,1.45rem);
    font-weight: 600;
    padding: 0.5em;
    color: #172c2c;
    padding-left: 3rem;
    opacity: 0.8;
}

div.title {
    padding-bottom: 1rem;
}

h1.title {
    display: block;
    font-weight: 800;
    padding: 0.2em;
    color: #fff;
    text-align: center;
    font-size: clamp(1.7rem,2.5vw,2.2rem);
    background: linear-gradient(315deg,#8793fa,#87cefa);
    box-shadow: 0px 0px 0px 5px linear-gradient(315deg,#8793fa,#87cefa);
    border: dashed 2px white;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(23,44,44,0.5));
}

div.jacket {
    width: 50%;
    padding: 6em;
}

a.stores {
    font-size: clamp(1rem,2.5vw,1.3rem);
    background: #fff;
    color: #172c2c;
    border-radius: 1rem;
    transition: .3s;
    &:hover {
        opacity: 0.6;
    }
    display: block;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(23,44,44,0.5));
    font-weight: 500;
}